n8n/workflows/fixed/knowledge_capture_trigger.json
{
  "name": "Knowledge Capture Trigger",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "capture-note",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "id": "770fd034-0c98-4839-b6f7-35e85ab36377"
    },
    {
      "parameters": {
        "functionCode": "// Extract note data from webhook\nconst { title, content, tags, folder } = $input.first().json;\nreturn [{ json: { title, content, tags: tags || [], folder: folder || '' } }];"
      },
      "name": "Extract Note Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        450,
        300
      ],
      "id": "66ad9767-929a-4c0e-af3c-6f89da030c69"
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8081/tools/call",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\n  \"tool\": \"obsidian_create_note\",\n  \"parameters\": {\n    \"title\": \"{{$json.title}}\",\n    \"content\": \"{{$json.content}}\",\n    \"tags\": {{$json.tags}},\n    \"folder\": \"{{$json.folder}}\"\n  }\n}"
      },
      "name": "Call MCP Server",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        650,
        300
      ],
      "id": "642d1c7f-dc38-4207-85bf-c142633b34b6"
    },
    {
      "parameters": {
        "url": "http://langflow:7860/api/v1/run/knowledge_management_specialist",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\n  \"input\": \"Note captured: {{$json.title}}\",\n  \"tweaks\": {}\n}"
      },
      "name": "Notify Knowledge Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        850,
        300
      ],
      "id": "13b242b0-d366-4e66-9d00-11c3ab10ff3e"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}"
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1050,
        300
      ],
      "id": "7af8fea8-c07b-4560-bc7c-dd3be808dfb2"
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Extract Note Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Note Data": {
      "main": [
        [
          {
            "node": "Call MCP Server",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call MCP Server": {
      "main": [
        [
          {
            "node": "Notify Knowledge Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Knowledge Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8ffe2cfa-55e1-48f5-8e67-ee2b78712ccf",
  "meta": {
    "instanceId": "osmen-local"
  }
}