n8n/workflows/fixed/n8n_yolo_workflow.json
{
  "name": "YOLO-OPS Master Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "yolo-ops",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "YOLO-OPS Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        250,
        300
      ],
      "webhookId": "yolo-ops-trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "action-router",
              "leftValue": "={{ $json.action }}",
              "rightValue": "search",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "router",
      "name": "Action Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://librarian:8200/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ query: $json.query, limit: $json.limit || 10 }) }}",
        "options": {}
      },
      "id": "librarian-search",
      "name": "Librarian Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        720,
        180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://qdrant:6333/collections/{{ $json.collection }}/points/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ vector: $json.vector, limit: $json.limit || 10, with_payload: true }) }}",
        "options": {}
      },
      "id": "qdrant-search",
      "name": "Qdrant Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        720,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://langflow:7860/api/v1/run/{{ $json.flow_id }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ input_value: $json.input, output_type: 'chat', input_type: 'chat' }) }}",
        "options": {}
      },
      "id": "langflow-run",
      "name": "Langflow Execute",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        720,
        420
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://mcp-server:8081/tools/{{ $json.tool_name }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.arguments || {}) }}",
        "options": {}
      },
      "id": "mcp-tool",
      "name": "MCP Tool Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        720,
        540
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "response",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        960,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// YOLO-OPS Task Processor\nconst input = $input.all()[0].json;\n\nconst result = {\n  session_id: input.session_id || 'unknown',\n  action: input.action,\n  timestamp: new Date().toISOString(),\n  status: 'processed',\n  data: input\n};\n\n// Log to console for debugging\nconsole.log('YOLO-OPS Task:', JSON.stringify(result, null, 2));\n\nreturn [{ json: result }];"
      },
      "id": "processor",
      "name": "Task Processor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        480
      ]
    }
  ],
  "connections": {
    "YOLO-OPS Webhook": {
      "main": [
        [
          {
            "node": "Action Router",
            "type": "main",
            "index": 0
          },
          {
            "node": "Task Processor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Action Router": {
      "main": [
        [
          {
            "node": "Librarian Search",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Qdrant Search",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Langflow Execute",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MCP Tool Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Librarian Search": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Search": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Langflow Execute": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Tool Call": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "versionId": "733677e0-0f38-483e-853f-dcf8c26d377e",
  "meta": {
    "instanceId": "osmen-local"
  },
  "active": false
}