n8n/workflows/convertx_file_converter.json
{
  "name": "ConvertX File Converter",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "convert-file",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook - Convert File",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [120, 300],
      "webhookId": "convertx-convert-file"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://osmen-convertx:3000/upload",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "upload-file",
      "name": "Upload to ConvertX",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [320, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://osmen-convertx:3000/convert",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "convert_to",
              "value": "={{ $json.target_format }}"
            },
            {
              "name": "file_names",
              "value": "={{ $json.file_name }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": false
            }
          }
        }
      },
      "id": "request-conversion",
      "name": "Request Conversion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [520, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract job ID from redirect location\nconst location = $input.first().json.headers?.location || '';\nconst jobId = location.includes('/results/') ? location.split('/results/')[1] : null;\n\nreturn [{\n  json: {\n    job_id: jobId,\n    status: jobId ? 'processing' : 'error',\n    message: jobId ? 'Conversion started' : 'Failed to start conversion'\n  }\n}];"
      },
      "id": "extract-job-id",
      "name": "Extract Job ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "wait-processing",
      "name": "Wait for Processing",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [920, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://osmen-convertx:3000/progress/{{ $json.job_id }}",
        "options": {}
      },
      "id": "check-progress",
      "name": "Check Progress",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "url": "=http://osmen-convertx:3000/download/1/{{ $json.job_id }}/{{ $json.output_filename }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "download-result",
      "name": "Download Converted File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 300]
    },
    {
      "parameters": {
        "respondWith": "binary",
        "options": {}
      },
      "id": "respond-with-file",
      "name": "Respond with File",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1520, 300]
    }
  ],
  "connections": {
    "Webhook - Convert File": {
      "main": [
        [
          {
            "node": "Upload to ConvertX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to ConvertX": {
      "main": [
        [
          {
            "node": "Request Conversion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request Conversion": {
      "main": [
        [
          {
            "node": "Extract Job ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Job ID": {
      "main": [
        [
          {
            "node": "Wait for Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Processing": {
      "main": [
        [
          {
            "node": "Check Progress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Progress": {
      "main": [
        [
          {
            "node": "Download Converted File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Converted File": {
      "main": [
        [
          {
            "node": "Respond with File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["convertx", "file-conversion", "media"],
  "triggerCount": 0,
  "versionId": "1"
}
