n8n/workflows/focus_guardrails_monitor.json
{
  "name": "Focus Guardrails Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/15 * * * *"
            }
          ]
        }
      },
      "name": "Check Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "functionCode": "// Check if focus guardrails are enabled\nconst enabled = $env('FOCUS_GUARDRAILS_ENABLED') === 'true';\nreturn [{ json: { enabled } }];"
      },
      "name": "Check If Enabled",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.enabled}}",
              "value2": true
            }
          ]
        }
      },
      "name": "If Enabled",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "url": "http://langflow:7860/api/v1/run/focus_guardrails_specialist",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\n  \"input\": \"Monitor and enforce focus guardrails\",\n  \"tweaks\": {}\n}"
      },
      "name": "Call Focus Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "functionCode": "// Process focus monitoring result\nconst result = $input.first().json;\nconst actions = result.actions || [];\nconsole.log('Focus check completed:', actions);\nreturn [{ json: { status: 'monitored', actions } }];"
      },
      "name": "Process Result",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Check Every 15 Minutes": {
      "main": [
        [
          {
            "node": "Check If Enabled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Enabled": {
      "main": [
        [
          {
            "node": "If Enabled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Enabled": {
      "main": [
        [
          {
            "node": "Call Focus Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Focus Agent": {
      "main": [
        [
          {
            "node": "Process Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "id": "focus_guardrails_monitor"
}
