n8n/workflows/librarian_ingest_trigger.json
{
  "name": "Librarian Document Ingestion",
  "nodes": [
    {
      "parameters": {
        "path": "librarian-ingest",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-ingest",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "librarian-ingest-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://librarian:8200/ingest",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ path: $json.body.path || '/app/data/sources', recursive: $json.body.recursive !== false }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "librarian-ingest",
      "name": "Librarian Ingest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-success",
              "leftValue": "={{ $json.status }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-status",
      "name": "Check Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { status: 'success', message: 'Documents ingested successfully', documents_indexed: $json.documents_indexed, total_indexed: $json.total_indexed } }}",
        "options": {}
      },
      "id": "respond-success",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { status: 'error', message: 'Ingestion failed', error: $json.error || 'Unknown error' } }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "respond-error",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [850, 400]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Librarian Ingest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Librarian Ingest": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "librarian-ingest-1.0.0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "osmen-librarian-ingest"
  },
  "tags": [
    {
      "name": "librarian",
      "createdAt": "2025-01-01T00:00:00.000Z",
      "updatedAt": "2025-01-01T00:00:00.000Z"
    },
    {
      "name": "ingestion",
      "createdAt": "2025-01-01T00:00:00.000Z",
      "updatedAt": "2025-01-01T00:00:00.000Z"
    }
  ],
  "pinData": {},
  "id": "librarian-ingest-workflow"
}
