.worktrees/beta/n8n/workflows/daily_brief_trigger.json
{
  "name": "Daily Brief Trigger",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "name": "Morning Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "functionCode": "// Check if daily brief is enabled\nconst enabled = $env('DAILY_BRIEF_ENABLED') === 'true';\nreturn [{ json: { enabled } }];"
      },
      "name": "Check If Enabled",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.enabled}}",
              "value2": true
            }
          ]
        }
      },
      "name": "If Enabled",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "url": "http://langflow:7860/api/v1/run/daily_brief_specialist",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\n  \"input\": \"Generate daily brief\",\n  \"tweaks\": {}\n}"
      },
      "name": "Call Daily Brief Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "functionCode": "// Format and log the daily brief\nconst result = $input.first().json;\nconst brief = result.output || 'No brief generated';\nconsole.log('Daily brief generated:', brief);\nreturn [{ json: { status: 'completed', brief } }];"
      },
      "name": "Format Brief",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Morning Schedule": {
      "main": [
        [
          {
            "node": "Check If Enabled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Enabled": {
      "main": [
        [
          {
            "node": "If Enabled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Enabled": {
      "main": [
        [
          {
            "node": "Call Daily Brief Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Daily Brief Agent": {
      "main": [
        [
          {
            "node": "Format Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "id": "daily_brief_trigger"
}
